@import '../../../styles/variables';

.rocket-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__title {
      font-size: $font-size-48;
      margin-top: $spacing-48;
      font-family: var(--font-bakbak-one);
    }

    &__description {
      margin-bottom: $spacing-48;
    }

    &__subtitle {
      font-weight: bold;
      font-size: $font-size-24;
      margin-bottom: $spacing-24;
    }

    &__content-wrapper {
      max-width: '1378px';
    }

    &__image-wrapper {
      width: 100%;
      height: 700px;
      object-fit: cover;
      object-position: top;
    }
  }
  