.rocket-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__title {
      font-family: --font-bakbak-one;
      font-size: 48px;
      font-family: var(--font-bakbak-one);
    }

    &__description {
      margin-bottom: 48px;
    }

    &__subtitle {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
  