$white: #FFF;
$black: #121214;

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-24: 24px;
$spacing-48: 48px;

$gap-4: 4px;
$gap-12: 12px;
$gap-24: 24px;

$font-size-18: 18px;
$font-size-24: 24px;
$font-size-48: 48px;
