.rockets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px;

  &__title {
    font-family: --font-bakbak-one;
    font-size: 48px;
    margin-bottom: 48px;
    font-family: var(--font-bakbak-one);
  }
}
