@import '../../styles/variables';

.rockets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $spacing-48;

  &__title {
    font-size: $font-size-48;
    margin-bottom: $spacing-48;
    font-family: var(--font-bakbak-one);
  }
}
