@import '../../../styles/variables';

.about-cards {
    margin-bottom: $spacing-48;

    section &__card-title {
        display: flex;
        align-items: center;
        gap: $gap-4;
        font-size: $font-size-18;
    }
}
