@use '@/styles/variables' as *;

.about-cards {
    margin-bottom: $spacing-48;

    &__wrapper {
        border: 2px solid red;
    }

    section &__card-title {
        display: flex;
        align-items: center;
        gap: $gap-4;
        font-size: $font-size-18;
    }
}
