@use '@/styles/variables' as *;

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $black;
    color: $white;
    padding: $spacing-12 $spacing-24;

    @media screen and (min-width: $breakpoint-desktop) {
        padding: $spacing-12 $spacing-48;
    }
    
    &__content {
        display: flex;
        align-items: center;
        gap: $gap-12;
    }

    &__title {
        font-family: var(--font-bakbak-one);
        font-weight: bold;
        font-size: $font-size-24;
    }

    &__naviagation-items {
        display: flex;
        gap: $gap-24;
        cursor: pointer;

        a {
            color: $white;
            font-weight: bold;
        }
    }
}