@use '@/styles/variables' as *;

.footer {
    display: flex;
    flex-direction: column;
    gap: $gap-24;
    margin-top: $spacing-48;
    background-color: $black;
    color: $white;
    padding: $spacing-24;

    @media screen and (min-width: $breakpoint-desktop) {
        padding: $spacing-48;
    }

    &__links-content {
        display: flex;
        gap: $gap-24;

        a {
            display: flex;
            align-items: center;
            color: $white;
        }
    }
}