@import '../../../styles/variables';

.rockets-list {
    &__list-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $gap-24;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: $spacing-24;
    }
}
